body {
  --side-bar-width: 210px;
  --primary-color: #c7b9ff;
  color: #000000;
  font-size: 16px;
}

.side-bar {
  background: var(--primary-color);
  float: left;
  min-height: 100vh;
  width: var(--side-bar-width);
  box-shadow: 0px 0px 3px #454545;
  position: fixed;
  text-align: center;
}

.header .profile {
  width: 86px;
  height: 86px;
  margin-top: 34px;
}

.header .name {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.header .intro {
  font-weight: 300;
  line-height: 19px;
  margin-top: 6px;
}

.nav {
  margin-top: 35px;
  font-weight: 500;
}

.nav-item {
  transition: 150ms;
  cursor: pointer;
  line-height: 43px;
}

.nav-item.active {
  background: #fff;
}

.nav-item:hover {
  background: #e7e7ff;
}

.main {
  float: right;
  width: calc(100% - var(--side-bar-width));
}

.article {
  width: 610px;
  margin: 0 auto;
}

.title {
  background: var(--primary-color);
  font-weight: 300px;
  font-size: 32px;
  line-height: 39px;
  padding: 10px 20px;
  margin: 0 -20px;
  margin-top: 67px;
}

.status {
  font-weight: 400;
  margin-top: 20px;
  color: #7452ff;
}

.content {
   font-weight: 400;
}

.status,
.content > * {
  margin-top: 20px;
  margin-bottom: 0;
}

.content p {
  line-height: 19px;
}

.content p span {
  color: #7452ff;
}

.content img {
  width: 100%;
}

.content h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
}

.content ul li {
  line-height: 19px;
  margin-bottom: 10px;
  list-style-type: square;
}
